{% extends 'base.html' %}
{% block content %}

<div class="container mt-4 p-4 bg-white rounded-4 shadow-sm" style="max-width:650px;">
    <h2 class="text-center text-primary mb-4">✏️ Редагування</h2>

    <img src="{{ url_for('static', filename='recipes/thumb_' ~ recipe.image) }}"
         class="rounded mx-auto d-block mb-4" width="200">

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title(class="form-control mb-3") }}

        {{ form.category_id.label }}
        {{ form.category_id(class="form-control mb-3") }}

        {{ form.cook_time.label }}
        {{ form.cook_time(class="form-control mb-3") }}

        {{ form.ingredients.label }}
        {{ form.ingredients(class="form-control mb-3", rows=4) }}

        {{ form.instructions.label }}
        {{ form.instructions(class="form-control mb-3", rows=4) }}

        {{ form.image.label }}
        {{ form.image(class="form-control mb-3") }}

        <button class="btn btn-primary w-100">Оновити</button>
    </form>

</div>

{% endblock %}
