{% extends 'base.html' %}
{% from "macros.html" import render_field %}
{% block content %}
<div class="resume-wrapper p-4 bg-white rounded-4 shadow-sm">

  <h2 class="text-primary mb-4">📬 Зв’язатися зі мною</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endwith %}

  <form method="post" class="p-4 rounded-4 shadow-sm bg-light" novalidate>
    {{ form.csrf_token }}
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.subject) }}
    {{ render_field(form.message) }}
    {{ form.submit(class="btn btn-outline-primary") }}
  </form>

  

  <hr class="my-4">

  <h5 class="fw-semibold text-secondary">Контакти:</h5>
  <ul class="list-unstyled">
    <li>📧 Email: sofia_fedorko@gmail.com</li>
    <li>📱 Телефон: +380 50 223 29 53X</li>
    <li>🌍 GitHub: <a href="https://github.com/sofia1922" target="_blank">github.com/sofia1922</a></li>
  </ul>
</div>
{% endblock %}
